@use'variables';
@use'mixinsfunc';

.navbar {
  padding: mixinsfunc.pixeles-rem(10);
  &__logo {
    color: variables.$color-titulo;
    font-size: mixinsfunc.pixeles-rem(25);
    font-weight: 600;
  }
  &__collapse {
    align-items: center;
    justify-content:end;
  }
  &__link {
    color: variables.$color-enlace;
    &:hover {
      text-decoration: underline;
      color: variables.$color-enlace;
    }
  }
}
