@use'mixinsfunc';
@use'variables';

#seccion-principal {
  height: 100vh;
  background-image: url(/img/fondo-home-principal.jpg);
  background-position: center center;
  background-size: cover;
} 

.principal {
  width: 60vw;
  height: 100vh;
  background-color: rgba($color:#ffffff, $alpha: 0.75);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__titulo {
    font-size: mixinsfunc.pixeles-rem(50);
    color: variables.$color-titulo;
  }
  &__subtitulo {
    font-size: mixinsfunc.pixeles-rem(30);
    color: variables.$color-titulo;
  }
  &__boton {
    display: block;
    width: mixinsfunc.pixeles-rem(250);
    background-color:variables.$color-enlace ;
    color: variables.$color-texto;
    font-weight: 600;
    border-radius: mixinsfunc.pixeles-rem(10);
    padding: mixinsfunc.pixeles-rem(15);
    margin: mixinsfunc.pixeles-rem(0);
    text-decoration: none;
  }
}